/* make-scrollable {
    height: 800px;
    overflow-y: scroll;
} */

.log-item {
    height: 32px;
    font-size: 16px;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
}