.toolbar-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.side-nav-container {
    flex: 1;
}

.side-nav-container {
    flex: 1 0 auto;
}

h1.app-name {
    margin-left: 16px;
}

mat-icon[name=git] {
    width: 100px;
    padding: 10 px;
}

span[name=gitcontainer]{
    align-content: center;
    text-align: center;
    justify-content: center;
}

.spacer {
    flex: 1 1 auto;
 }