<fieldset [disabled]="mode.isView()">
  <legend>Entry
  <button mat-icon-button class="resume-btn" *ngIf="!trade.entry" matTooltip="Add Target" (click)="addNewTarget()">
    <mat-icon class="icon-display-sm" >add_circle_outline</mat-icon>
  </button>
</legend>

<table class="full-width" cellspasing=0 *ngIf="trade.entry">
  <tr *ngFor="let entryTarget of trade.entry.targets"><td>
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Entry Price</mat-label>
      <input matInput type="text" id="targetPrice" name="targetPrice" [(ngModel)]="entryTarget.price">
    </mat-form-field>
  </td>
  <td>
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Volume</mat-label>
      <input matInput type="text" id="targetVol" name="targetVol" [(ngModel)]="entryTarget.vol">
    </mat-form-field>
  </td>
  <td *ngIf="mode.isCreate()">
    <button mat-icon-button class="delete-btn" matTooltip="Remove Target" (click)="deleteTarget()">
      <mat-icon class="icon-display-sm">remove_circle_outline</mat-icon>
    </button>
  </td>
</tr>
</table>

  <div class="form-group row row-no-btm-margin" *ngFor="let entryTarget of trade.entry?.targets">
    
    <div class="form-group col-md-1">
    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="buysellBtn">
      <label class="btn btn-sm btn-outline-danger {{trade.entry.isSell() ? 'active' : ''}}" *ngIf="mode.isCreate() || (!mode.isCreate() && trade.entry.isSell())">
        <input type="radio" name="options" id="sideSell" value="SELL" autocomplete="off" [(ngModel)]="trade.entry.side"> Sell
      </label>
      <label class="btn btn-sm btn-outline-success {{trade.entry.isBuy() ? 'active' : ''}}" *ngIf="mode.isCreate() || (!mode.isCreate() && trade.entry.isBuy())">
        <input type="radio" name="options" id="sideBuy"  value="BUY" autocomplete="off" [(ngModel)]="trade.entry.side"> Buy
      </label>
    </div>
    </div>
  </div>
</fieldset>
