<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Exit Targets
    </mat-panel-title>
    <mat-panel-description>
      Configuration For Exit Targets
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Default Settings
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table class="full-width" cellspasing=0>
      <tr><td>
        <mat-checkbox [(ngModel)]="trade.exit.smart" color="primary">Smart (can be overrwritten by individual target)</mat-checkbox>
      </td><td>
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Threshold</mat-label>
          <input matInput type="text" id="targetPrice" name="targetPrice" [(ngModel)]="trade.exit.threshold">
        </mat-form-field>
      </td></tr>
    </table>
  </mat-expansion-panel> -->
    <div class="trade-section">
      <table class="full-width" cellspasing=0>
        <tr *ngFor="let exitTarget of trade.exit.targets">
          <td>
            <mat-form-field class="full-width exit-target-input" appearance="standard">
              <mat-label>Target Price</mat-label>
              <input matInput type="text" id="targetPrice" name="targetPrice" [(ngModel)]="exitTarget.price">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width exit-target-input" appearance="standard">
              <mat-label>Volume</mat-label>
              <input matInput type="text" id="targetPrice" name="targetPrice" [(ngModel)]="exitTarget.vol">
              <mat-hint *ngIf="exitTarget.calculated_volume" matTooltip="Calculated Volume">{{exitTarget.calculated_volume | number: '1.0-8'}}</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-checkbox [(ngModel)]="exitTarget.smart" color="primary">Smart</mat-checkbox>
          </td>
          <td>
            <mat-form-field class="full-width exit-target-input" appearance="standard">
              <mat-label>Stop Loss</mat-label>
              <input matInput type="text" id="sl" name="sl" [(ngModel)]="exitTarget.sl">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width exit-target-input" appearance="standard">
              <mat-label>Status</mat-label>
              <input matInput type="text" id="status" name="status" [(ngModel)]="exitTarget.status" disabled>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width exit-target-input" appearance="standard">
            <mat-label>Order ID</mat-label>
            <input matInput type="text" id="id" name="id" [(ngModel)]="exitTarget.id" disabled>
            <mat-hint *ngIf="exitTarget.id && exitTarget.best_price" matTooltip="Trigger Price">tp: {{exitTarget.best_price | number: '1.0-8'}}</mat-hint>
          </mat-form-field></td>
          <td>
            <button mat-icon-button class="delete-btn" matTooltip="Remove Target" (click)="deleteTarget(exitTarget)" disabled="{{exitTarget.isCompleted()}}">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <button mat-icon-button class="resume-btn" matTooltip="Add Target" (click)="addNewTarget()"
      [disabled]="!(!lastAddedTarget || (lastAddedTarget && lastAddedTarget.vol && lastAddedTarget.price))">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <mat-form-field appearance="standard" style="display: block; width: 30%;">
        <mat-label>Smart Target Threshold</mat-label>
        <input matInput type="text" id="targetPrice" name="targetPrice" [(ngModel)]="trade.exit.threshold">
      </mat-form-field>
    </div>
</mat-expansion-panel>

