<mat-expansion-panel #exp>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Stoploss
    </mat-panel-title>
    <mat-panel-description>
      Configuration for the stoploss
    </mat-panel-description>
  </mat-expansion-panel-header>

  <button mat-icon-button class="resume-btn" matTooltip="Add Stoploss" (click)="addStopLoss()" *ngIf="!trade.stoploss">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <table class="full-width" cellspasing=0 *ngIf="trade.stoploss" >
    <tr>
      <td><mat-checkbox [(ngModel)]="trade.stoploss.isTrailing">Trailing</mat-checkbox></td>
      <td><mat-form-field class="full-width exit-target-input" appearance="standard">
        <mat-label>Threshold</mat-label>
          <input matInput type="text" id="targetPrice" name="targetPrice" [(ngModel)]="trade.stoploss.threshold" [disabled]="trade.stoploss.isFixed()">
        </mat-form-field>
      </td>
      <td><mat-form-field class="full-width exit-target-input" appearance="standard">
        <mat-label>Price</mat-label>
          <input matInput type="text" id="targetPrice" name="targetPrice" [(ngModel)]="trade.stoploss.initial_target.price">
        </mat-form-field></td>
      <td>
        <mat-form-field class="full-width exit-target-input" appearance="standard">
        <mat-label>Volume</mat-label>
          <input matInput type="text" id="targetPrice" name="targetPrice" [(ngModel)]="trade.stoploss.initial_target.vol">
        </mat-form-field>
      </td>
      <td>
        <button mat-icon-button class="delete-btn" matTooltip="Remove Target" (click)="deleteStopLoss()">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  
</mat-expansion-panel>
