<ng-template #modal_template >
  <form #tradeForm="ngForm" class="needs-validation" novalidate>
  <div class="modal-header">
    <div class="col-sm-1">
      <button *ngIf="mode.isView()" type="button" class="btn btn-sm btn-warning" (click)="mode.setEdit()" tooltip="Edit">
        <span class="oi oi-wrench"></span>
      </button>
      <button *ngIf="mode.isEdit()" type="button" class="btn btn-sm btn-info" (click)="mode.setView()" tooltip="View">
        <span class="oi oi-eye"></span>
      </button>
    </div>
    <h4 class="modal-title pull-left">Trade ({{mode.str()}} mode)</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--<div class="modal-body" *ngIf="trade$ | async as trade">-->
  <div class="modal-body" *ngIf="trade">
    <!--<form>-->
      <fieldset [disabled]="!mode.isCreate()">
        <legend>Info</legend>
        <div class="form-group row">
          <label for="tradeId" class="col-sm-2 col-form-label-sm">ID</label>
          <div class="col-sm-10"><input type="text" id="tradeId" name="tradeId" class="form-control form-control-sm" disabled value="{{trade.id}}"></div>
        </div>
        <div class="form-group row">
          <label for="symbol" class="col-sm-2 col-form-label-sm">Symbol</label>
          <div class="col-sm-2">
            <input type="text" id="symbol" name="symbol" class="form-control form-control-sm {{symbol.errors? 'is-invalid':''}}"
                   required
                   (change)="trade.symbol=trade.symbol.toUpperCase()"
                   [appSymbolValidator]="symbols"
                   [(ngModel)]="trade.symbol"
                   [typeahead]="exchangeInfo"
                   [typeaheadScrollable]="true"
                   typeaheadOptionField="s"
                   [typeaheadOptionsInScrollableView]="10"
                   (typeaheadOnSelect)="onSymbolSelected($event)"
                   autocomplete="off" #symbol="ngModel">
          </div>

          <!--<div class="col-sm-2" *ngIf="symbol.invalid && (symbol.dirty || symbol.touched)"-->
               <!--class="alert alert-danger">-->

            <!--<div *ngIf="symbol.errors.appSymbolValidator">-->
              <!--Symbol cannot be test.-->
            <!--</div>-->

          <!--</div>-->
          <label for="asset" class="col-sm-1 col-form-label-sm">Asset</label>
          <div class="col-sm-2">
            <input type="text" id="asset" name="asset" class="form-control form-control-sm" [ngModel]="trade.asset" [disabled]="true">
          </div>
          <label for="asset" class="col-sm-1 col-form-label-sm">Cap</label>
          <div class="col-sm-2">
            <input type="text" id="cap" name="cap" class="form-control form-control-sm" [ngModel]="trade.cap" autocomplete="off">
          </div>
        </div>
        <!--<div class="form-group row">-->
          <!--<label for="status" class="col-sm-2 col-form-label">Status</label>-->
          <!--<div class="col-sm-10"><input type="text" id="status" class="form-control" [(value)]="trade.status" ></div>-->
        <!--</div>-->
        <div class="form-group row">
          <label for="buysellBtn" class="col-sm-2 col-form-label-sm">Side</label>
          <div class="col-sm-10">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="buysellBtn">
              <label class="btn btn-sm btn-outline-danger {{trade.isSell() ? 'active' : ''}}" *ngIf="mode.isCreate() || (!mode.isCreate() && trade.isSell())">
                <input type="radio" name="options" id="sideSell" value="SELL" autocomplete="off" [(ngModel)]="trade.side"> Sell
              </label>
              <label class="btn btn-sm btn-outline-success {{trade.isBuy() ? 'active' : ''}}" *ngIf="mode.isCreate() || (!mode.isCreate() && trade.isBuy())">
                <input type="radio" name="options" id="sideBuy"  value="BUY" autocomplete="off" [(ngModel)]="trade.side"> Buy
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="priceInfo?.symbol == trade.symbol">
          <label class="col-sm-2 col-form-label-sm">Price Info</label>
          <div class="col-sm-10">
            <span class="badge badge-success">Bid: {{ priceInfo.bestBid }}</span>&nbsp;
            <span class="badge badge-danger">Ask: {{ priceInfo.bestAsk }}</span>
          </div>
        </div>
      </fieldset>
    <app-exit-details [trade]="trade" [mode]="mode"></app-exit-details>
    <app-sl-details [trade]="trade" [mode]="mode"></app-sl-details>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="confirm()" *ngIf="!mode.isView()" [disabled]="tradeForm.invalid" >{{ mode.str() }}</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Cancel</button>
  </div>
  </form>
</ng-template>
